<div class="container-fluid mx-1 my-1">
    <div class="row mx-1 my-2">
        <div class="col md-4">
            <button (click)="addCustomer()" type="button" class="btn btn-primary shadow-none mx-1 my-1 px-2">
                Register customer
            </button>
        </div>
        <div class="col md-4">
            <button (click)="addCustomer()" type="button" class="btn btn-primary shadow-none mx-1 my-1 px-2">
                Register customer
            </button>
        </div>
        <div class="col md-4">
            <button (click)="addCustomer()" type="button" class="btn btn-primary shadow-none mx-1 my-1 px-2">
                Register customer
            </button>
        </div>
    </div>
</div>
<h3 class="container-fluid">Customer Table:</h3>
<app-customer-list></app-customer-list>