<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container">
    @if (isLoading()) {
    <div class="text-center my-3">
      <span class="spinner-border spinner-border-sm me-1"></span> Loading
      customer...
    </div>
    } @if (errorMessage() && !isLoading()) {
    <div class="alert alert-danger mt-3">{{ errorMessage() }}</div>
    }
    <div class="row">
      <div class="col-md-6">
        <div class="card m-5">
          <h4 class="card-header">Basic Information:</h4>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">First Name</label>
              <input
                type="text"
                formControlName="firstName"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
              />
              @if (submitted && f['firstName'].errors) {
              <div class="invalid-feedback">
                @if (f['firstName'].errors['required']) {
                <div>First Name is required</div>
                }
              </div>
              }
            </div>

            <div class="mb-3">
              <label class="form-label">Last Name</label>
              <input
                type="text"
                formControlName="lastName"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
              />
              @if (submitted && f['lastName'].errors) {
              <div class="invalid-feedback">
                @if (f['lastName'].errors['required']) {
                <div>Last Name is required</div>
                }
              </div>
              }
            </div>

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              />
              @if (submitted && f['email'].errors) {
              <div class="invalid-feedback">
                @if (f['email'].errors['required']) {
                <div>Email is required</div>
                } @if (f['email'].errors['pattern']) {
                <div>The Email should be a valid one</div>
                }
              </div>
              }
            </div>

            <div class="mb-3">
              <label class="form-label">Phone</label>
              <input
                type="text"
                formControlName="msisdn"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['msisdn'].errors }"
              />
              @if (submitted && f['msisdn'].errors) {
              <div class="invalid-feedback">
                @if (f['msisdn'].errors['required']) {
                <div>Phone Number is required</div>
                } @if (f['msisdn'].errors['pattern']) {
                <div>The phone number should be a valid one</div>
                }
              </div>
              }
            </div>

            <div class="mb-3">
              <label class="form-label">Gender</label>
              <select formControlName="gender" class="form-select">
                <option value="">Select a gender</option>
                <option value="0">Not declared</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
              @if (submitted && f['gender'].errors) {
              <div class="invalid-feedback">
                @if (f['gender'].errors['required']) {
                <div>Gender is required</div>
                }
              </div>
              }
            </div>

            <div class="mb-3">
              <label class="form-label">Birthdate</label>
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    formControlName="birthYear"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f['birthYear'].errors
                    }"
                    placeholder="Year"
                  />
                  @if (submitted && f['birthYear'].errors) {
                  <div class="invalid-feedback">
                    @if (f['birthYear'].errors['required']) {
                    <div>Year is required</div>
                    }
                  </div>
                  }
                </div>
                <div class="col">
                  <input
                    type="text"
                    formControlName="birthMonth"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f['birthMonth'].errors
                    }"
                    placeholder="Month"
                  />
                  @if (submitted && f['birthMonth'].errors) {
                  <div class="invalid-feedback">
                    @if (f['birthMonth'].errors['required']) {
                    <div>Month is required</div>
                    }
                  </div>
                  }
                </div>
                <div class="col">
                  <input
                    type="text"
                    formControlName="birthDay"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f['birthDay'].errors
                    }"
                    placeholder="Day"
                  />
                  @if (submitted && f['birthDay'].errors) {
                  <div class="invalid-feedback">
                    @if (f['birthDay'].errors['required']) {
                    <div>Day is required</div>
                    }
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card m-5">
          <h4 class="card-header">Address:</h4>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">Country</label>
              <input
                type="text"
                formControlName="country"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">County</label>
              <input
                type="text"
                formControlName="county"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Town</label>
              <input type="text" formControlName="town" class="form-control" />
            </div>
            <div class="mb-3">
              <label class="form-label">Street</label>
              <input
                type="text"
                formControlName="street"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Number</label>
              <input
                type="text"
                formControlName="number"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Zip</label>
              <input type="text" formControlName="zip" class="form-control" />
            </div>

            <div>
              <button [disabled]="saving()" class="btn btn-primary">
                @if (saving()) {
                <span class="spinner-border spinner-border-sm me-1"></span>
                } Edit Customer
              </button>
              <a routerLink="/customers" class="btn btn-link">Cancel</a>
            </div>

            @if (saveError()) {
            <div class="alert alert-danger mt-3">
              {{ saveError() }}
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
