<section class="gradient-form" style="background-color: #eee">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <!-- Login Form Section -->
            <div class="col-md-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="../../../assets/DanFrunzaLogo_Mini.png"
                    style="width: 60px"
                    alt="Leaf Enterprises Logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">Leaf Enterprises</h4>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <p>Please login to your account:</p>

                  <!-- Username Input -->
                  <div class="form-floating mb-4">
                    <input
                      type="text"
                      id="username"
                      formControlName="username"
                      class="form-control"
                      placeholder="Username"
                      [ngClass]="{
                        'is-invalid':
                          usernameControl?.invalid && usernameControl?.touched
                      }"
                    />
                    <label for="username">Username</label>
                    @if ( usernameControl?.invalid && usernameControl?.touched )
                    {
                    <div class="text-danger mt-1">
                      @if (usernameControl?.errors?.['required']) {
                      <small>Username is required.</small>
                      } @if (usernameControl?.errors?.['pattern']) {
                      <small>Invalid username format.</small>
                      }
                    </div>
                    }
                  </div>

                  <!-- Password Input -->
                  <div class="form-floating mb-4">
                    <input
                      type="password"
                      id="password"
                      formControlName="password"
                      class="form-control"
                      placeholder="Password"
                      [ngClass]="{
                        'is-invalid':
                          passwordControl?.invalid && passwordControl?.touched
                      }"
                    />
                    <label for="password">Password</label>
                    @if ( passwordControl?.invalid && passwordControl?.touched )
                    {
                    <div class="text-danger mt-1">
                      <small>Password is required.</small>
                    </div>
                    }
                  </div>

                  <!-- Submit Button and Error Message -->
                  <div class="container">
                    <div class="text-center pt-1 mb-2 pb-1">
                      <button
                        type="submit"
                        class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                        [disabled]="loginForm.invalid"
                      >
                        Sign in
                      </button>
                    </div>
                    @if (errorMessage) {
                    <div
                      class="d-flex align-items-center justify-content-center alert alert-danger"
                      role="alert"
                    >
                      {{ errorMessage }}
                    </div>
                    }
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-center pt-3 pb-4"
                  >
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <!-- Help Section -->
                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">Can't sign in?</p>
                    <button type="button" class="btn btn-outline-danger">
                      Contact us!
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <!-- Info Section -->
            <div class="col-md-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">More than just a management system</h4>
                <p class="small mb-0">
                  This customer management system platform is for merchants
                  only. The login is processed using the MerchantID username.
                  Regarding the customers, a different platform is used.
                  Customers will be able to sign in using their email or phone
                  number.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
