.gradient-custom-2 {
  background: var(--spectrumColor1);
  background: -webkit-linear-gradient(to right, var(--spectrumColor1), var(--spectrumColor2), var(--spectrumColor3), var(--spectrumColor4));
  background: linear-gradient(to right, var(--spectrumColor1), var(--spectrumColor2), var(--spectrumColor3), var(--spectrumColor4));
}

@media only screen and (min-width: 768px) {
  .gradient-form {
    height: 120vh !important;
  }

  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

@media only screen and (max-width: 768px) {
  .gradient-custom-2 {
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}