<section class="gradient-form" style="background-color: #eee;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-md-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../../../assets/DanFrunzaLogo_Mini.png" style="width: 60px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Leaf Enterprises</h4>
                </div>

                <form>
                  <p>Please login to your account:</p>

                  <div class="form-floating mb-4">
                    <input class="form-control" id="username" type="text" placeholder="Username"
                      (keyup)="onKey($event, 'username')">
                    <p *ngIf="!isEmailValid" class="text-danger">Username can consist of letters and
                      numbers only!
                    </p>
                    <label class="form-label" for="username">Username</label>
                  </div>

                  <div class="form-floating mb-4">
                    <input class="form-control" id="password" type="password" placeholder="******************"
                      (keyup)="onKey($event, 'password')">
                    <label class="form-label" for="password">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button"
                      (click)="onSubmit()">
                      Sign in
                    </button>
                    <div *ngIf="error">
                      <div class="alert alert-danger" role="alert">
                        {{error}}
                      </div>
                    </div>
                    <div>
                      <a class="text-muted" href="#!">Forgot password?</a>
                    </div>

                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Can't sign in?</p>
                    <button type="button" class="btn btn-outline-danger">Contact us!</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">More than just a management system</h4>
                <p class="small mb-0">This customer management system platform is for merchants only.
                  The login is processed using the MerchantID username.
                  Regarding the customers, a different platform is used. Customers will be able to sign in using their
                  email or phone number.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>