{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": true,
  "cssBracketSpacing": true,
  "insertPragma": false,
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto"
}
