.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: var(--spectrumColor4);
}

.plain-Links {
  text-decoration: none;
  color: black;
}

.sortable-header {
  cursor: pointer;
  user-select: none;
}

.sortable-header:hover {
  text-decoration: underline;
}
