.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #e8a49c;
    
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #3c4cad !important;
    outline: none !important;
    box-shadow: none;
    border-color: #3c4cad;
}

.plain-Links{
    text-decoration: none;
    color: black;
}

