@if (!isLoading(); ) {
@if (activationError(); as error) {
<div class="alert alert-danger mt-2">{{ error }}</div>
} @if (deleteError(); as error) {
<div class="alert alert-danger mt-2">{{ error }}</div>
}
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <caption class="container-fluid">
      This table gets real-time API data.
    </caption>
    <thead class="table-dark">
      <tr>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">MSISDN</th>
        <th scope="col" class="w-25 text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (customer of customers(); track trackByCustomerId($index, customer)) {
      <tr>
        <td class="align-middle text-center">
          <a
            (click)="navigateToCustomer(customer.guid)"
            class="plain-Links hoverItem"
          >
            {{ customer.firstName + ' ' + customer.lastName }}
          </a>
        </td>
        <td class="align-middle text-center">{{ customer.email }}</td>
        <td class="align-middle text-center">{{ customer.msisdn }}</td>
        <td class="align-middle text-center">
          <div class="btn-group" role="group">
            <button
              (click)="navigateToEdit(customer.guid)"
              type="button"
              class="btn btn-primary shadow-none"
              [disabled]="activationLoading() || deleting()"
            >
              Edit
            </button>

            @if (customer.customerStatus === CustomerStatus.Active) {
            <button
              (click)="deactivateCustomer(customer.guid)"
              type="button"
              class="btn btn-danger"
              [disabled]="activationLoading() || deleting()"
            >
              Deactivate
            </button>
            } @if (customer.customerStatus === CustomerStatus.Deactivated) {
            <button
              (click)="reactivateCustomer(customer.guid)"
              type="button"
              class="btn btn-secondary"
              [disabled]="activationLoading() || deleting()"
            >
              Reactivate
            </button>
            <button
              (click)="deleteCustomer(customer.guid)"
              type="button"
              class="btn btn-danger shadow-none"
              [disabled]="activationLoading() || deleting()"
            >
              Delete
            </button>
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
