<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card m-5">
          <h4 class="card-header">Basic Information:</h4>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">First Name</label>
              <input
                type="text"
                formControlName="firstName"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
              />
              @if (submitted && f['firstName'].errors) {
              <div class="invalid-feedback">
                @if (f['firstName'].errors['required']) {
                <div>First Name is required</div>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Last Name</label>
              <input
                type="text"
                formControlName="lastName"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
              />
              @if (submitted && f['lastName'].errors) {
              <div class="invalid-feedback">
                @if (f['lastName'].errors['required']) {
                <div>Last Name is required</div>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              />
              @if (submitted && f['email'].errors) {
              <div class="invalid-feedback">
                @if (f['email'].errors['required']) {
                <div>Email is required</div>
                } @if (f['email'].errors['pattern']) {
                <div>The Email should be a valid one</div>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Phone</label>
              <input
                type="text"
                formControlName="msisdn"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['msisdn'].errors }"
              />
              @if (submitted && f['msisdn'].errors) {
              <div class="invalid-feedback">
                @if (f['msisdn'].errors['required']) {
                <div>Phone Number is required</div>
                } @if (f['msisdn'].errors['pattern']) {
                <div>The phone number should be a valid one</div>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Gender</label>
              <div class="form-group">
                <select
                  formControlName="gender"
                  class="form-select"
                  aria-label="Select gender"
                >
                  <option selected>Select a gender:</option>
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                </select>
              </div>
              @if (submitted && f['gender'].errors) {
              <div class="invalid-feedback">
                @if (f['gender'].errors['required']) {
                <div>Gender is required</div>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Birthdate</label>
              <div class="row">
                <div class="col">
                  <label for="inputCity">Year</label>
                  <input
                    type="text"
                    formControlName="birthYear"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f['birthYear'].errors
                    }"
                  />
                  @if (submitted && f['birthYear'].errors) {
                  <div class="invalid-feedback">
                    @if (f['birthYear'].errors['required']) {
                    <div>Year is required</div>
                    }
                  </div>
                  }
                </div>
                <div class="col">
                  <label for="inputCity">Month</label>
                  <input
                    type="text"
                    formControlName="birthMonth"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f['birthMonth'].errors
                    }"
                  />
                  @if (submitted && f['birthMonth'].errors) {
                  <div class="invalid-feedback">
                    @if (f['birthMonth'].errors['required']) {
                    <div>Month is required</div>
                    }
                  </div>
                  }
                </div>
                <div class="col">
                  <label for="inputZip">Day</label>
                  <input
                    type="text"
                    formControlName="birthDay"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f['birthDay'].errors
                    }"
                  />
                  @if (submitted && f['birthDay'].errors) {
                  <div class="invalid-feedback">
                    @if (f['birthDay'].errors['required']) {
                    <div>Day is required</div>
                    }
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card m-5">
          <h4 class="card-header">Address:</h4>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">Country</label>
              <input
                type="text"
                formControlName="country"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['country'].errors }"
              />
              @if (submitted && f['country'].errors) {
              <div class="invalid-feedback">
                @if (f['country'].errors['required']) {
                <div>Country is required</div>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">County</label>
              <input
                type="text"
                formControlName="county"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['county'].errors }"
              />
              @if (submitted && f['county'].errors) {
              <div class="invalid-feedback">
                @if (f['county'].errors['required']) {
                <div>County is required</div>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Town</label>
              <input
                type="text"
                formControlName="town"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['town'].errors }"
              />
              @if (submitted && f['town'].errors) {
              <div class="invalid-feedback">
                @if (f['town'].errors['required']) {
                <div>Town is required</div>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Street</label>
              <input
                type="text"
                formControlName="street"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['street'].errors }"
              />
              @if (submitted && f['street'].errors) {
              <div class="invalid-feedback">
                @if (f['street'].errors['required']) {
                <div>Street is required</div>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Number</label>
              <input
                type="text"
                formControlName="number"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['number'].errors }"
              />
              @if (submitted && f['number'].errors) {
              <div class="invalid-feedback">
                @if (f['number'].errors['required']) {
                <div>Street number is required</div>
                }
              </div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Zip</label>
              <input
                type="text"
                formControlName="zip"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['zip'].errors }"
              />
              @if (submitted && f['zip'].errors) {
              <div class="invalid-feedback">
                @if (f['zip'].errors['required']) {
                <div>Zip code is required</div>
                }
              </div>
              }
            </div>
            <div>
              <button [disabled]="loading" class="btn btn-primary">
                @if (loading) {
                <span class="spinner-border spinner-border-sm me-1"></span>
                } Add Customer
              </button>
              <a routerLink="/customers" class="btn btn-link">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
